<a
  href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri={{ GOOGLE_REDIRECT_URI }}&prompt=consent&response_type=code&client_id={{ GOOGLE_CLIENT_ID }}&scope=openid%20email%20profile&access_type=offline"
  class="btn btn-outline-primary d-flex align-items-center btn-hover-opacity"
>
  <img
    src="https://raw.githubusercontent.com/Macktireh/Media/27f70e0942e3c1b06cc1906cdfd9f1d754a43417/svg/google.svg"
    alt="Google"
    class="me-2"
    style="width: 2rem; height: 2rem"
  />
  <span>Login with Google</span>
</a>
