SECRET_KEY=ZMygoD1LbCtnlqzIxkXpHEbkBRsTx3B70xTFDYGJOg7f8XXEeCN95aRqz2CLiPaxGj4M43HepdQWJwEf-OA_2Q

# -------------------------------------------------------------------------------------- #
# Google OAuth Configuration
# Replace with your actual Google OAuth credentials
# You can obtain these from the Google Developer Console
# https://console.developers.google.com/
# Make sure to set the redirect URI to http://localhost:5000/login/google/callback
# -------------------------------------------------------------------------------------- #
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/login/google/callback

# -------------------------------------------------------------------------------------- #
#  GitHub OAuth Configuration
# Replace with your actual GitHub OAuth credentials
# You can obtain these from the GitHub Developer settings
# Make sure to set the redirect URI to http://localhost:5000/login/github/callback
# -------------------------------------------------------------------------------------- #
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
